
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jaatra</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css" crossorigin="anonymous">
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css" crossorigin="anonymous">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css" crossorigin="anonymous">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="/css/themify-icons.css" crossorigin="anonymous">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css" crossorigin="anonymous">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css" crossorigin="anonymous">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css" crossorigin="anonymous">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">

	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="/"><img src="/images/logo.PNG" alt="J A A T R A"></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
							<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/tickets/search">Tickets</a></li>
							<li><a href="/jaatra/about">About</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</nav>
