<% include ../common/header.ejs %>

  
		<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-middle">
						<div class="display-t">
							<div class="display-tc">
								<!--<div class="row">-->
								<!--	<div class="col-md-12">-->
									
									    <img src="/images/jaatraLOGO.jpg"  height = 80%  style="padding-left:170px">
									
								<!--	</div>-->
								<!--</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                    <p>'J A A T R A' has connected with over 20 bus enterprises all over Bangladesh to provide you with tickets at your doorstep. 'J A A T R A' has connected with over 20 bus enterprises all over Bangladesh to provide you with tickets at your doorstep. 'J A A T R A' offers you the option to pay through your VISA, mastercard and bkash account! We will also be integrating cash on delivery payment service in the near future.

</p>
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </div>
</div>
</div>
</div>
 <% include ../common/footer.ejs %>
 </body>
 </html>