<% include ../common/header.ejs %>

  
		<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-middle">
						<div class="display-t">
							<div class="display-tc">
								<!--<div class="row">-->
								<!--	<div class="col-md-12">-->
									
									    <img src="/images/jaatraLOGO.jpg"  height = 80%  style="padding-left:170px">
									
								<!--	</div>-->
								<!--</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                    <p><b>'J A A T R A'</b> is an online ticket booking system. We have connected with over 20 bus enterprises all over Bangladesh to provide you with tickets at your doorstep.
                    <b>'J A A T R A'</b> offers you the option to pay through your VISA, mastercard and bkash account! We will also be integrating cash on delivery payment service in the near future.

</p>
</br>
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </div>
</div>
</div>
</div>

			<div class="gtco-services gtco-section">
			<div class="gtco-container">
				<div class="row row-pb-sm">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Meet Our Mentor- <a href="https://github.com/shamahoque">Shama Hoque <i class="ti-github"></i> </a></h2>
						</br>
					</br>
						</br>
						<h3><i class="ti-settings"></i> Our Developer Team</h3>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-4 col-sm-4 service-wrap">
						<div class="service">
							<h3><a href="https://github.com/Rabbi-Iqbal"><i class="ti-settings"></i> Rabbi Iqbal</a></h3>
							   <img src="/images/Rabbi.jpg" class="img-responsive"  >
							</br>
							<p>I see bug problems, I yell - <b>Expelliarmus!</b></p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 service-wrap ">
						<div class="service">
							<h3><a href="https://github.com/AnanSarah"><i class="ti-settings"></i> Anan Sarah</a></h3>
							 <img src="/images/nikita.jpg" class="img-responsive" alt="picture" align="center">
							 </br>
							   <img src=""  >
							<a href="https://www.youtube.com/watch?v=5iC0YXspJRM">Where are my fries?</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 service-wrap">
						<div class="service">
							<h3><a href="https://github.com/namakibiswas"><i class="ti-settings"></i> Namaki Biswas</a></h3>
							 <img src="/images/namaki.jpg" class="img-responsive" alt="picture" >
							 </br>
							<p>My superpowers include 'nagging', 'nagging' & 'nagging'. </p>
						</div>
					</div>

					<div class="clearfix visible-md-block visible-sm-block"></div>

				</div>
			</div>
		</div>
		
 <% include ../common/footer.ejs %>
 </body>
 </html>