<% include ../common/header.ejs %>
		<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-middle">
						<div class="display-t">
							<div class="display-tc">
								<!--<div class="row">-->
								<!--	<div class="col-md-12">-->
									
									    <img src="/images/jaatraLOGO.jpg"  height = 80%  style="padding-left:170px">
									
								<!--	</div>-->
								<!--</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-middle">
                   <h3><i class="ti-location-pin"></i>List of Bus enterprises</h3>
                   <ul style = "list-style-type: none">
                       
                        <li >	Greenline	</li>
                     
                       
                        <li>	Alhamra Paribahan	</li>
                        <li>	Barkat Travels	</li>
                        <li>	Chaklader Paribahan	</li>
                        <li>	Shohag	</li>
                        <li>	Comfort Line Pvt Ltd	</li>
                        <li>	Dhaka Line	</li>
                        <li>	Diganta Express	</li>
                        <li>	Diganta Paribahan	</li>
                        <li>	Dipjol Enterprise	</li>
                        <li>	Elish Paribahan	</li>
                        <li>	Hanif Paribahan	</li>
                        <li>	Emad Enterprise	</li>
                        <li>	Ena Transport (Pvt) Ltd	</li>
                        <li>	Green Line Paribahan	</li>
                        <li>	Hanif Enterprise	</li>
                        <li>	HIMACHOL	</li>
                        <li>	Islam Paribahan	</li>
                        <li>	Kanak Paribahan Ltd	</li>
                        <li>	Ena Paribahan	</li>
                        

                   </ul>
</br>

    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </div>
</div>
</div>
</div>
 <% include ../common/footer.ejs %>
 </body>
 </html>