
 <% include ../common/header.ejs %>
<div class = container>
<div class="jumbotron jumbotron-fluid">
  <h1>Thank You!</h1>
  <p></p><strong> Your bus and its routes has been added to our system</strong> </p>
  <hr>
  <p>
    Having trouble? <a href="/contact">Contact us</a>
  </p>
 
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  
</div>
</div>
 <% include ../common/footer.ejs %>
 </body>
 </html>