
 <% include ../common/header.ejs %>
<div class = container>
<div class="jumbotron jumbotron-fluid">
  <h1>Sucess!</h1>
  <p></p><strong> Your ticket purchase has been successful. Please check you mail for the ticket and further details</strong> </p>
  <hr>
  <p>
    Having trouble? <a href="/contact">Contact us</a>
  </p>
 
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  
</div>
</div>

 <% include ../common/footer.ejs %>
 </body>
 </html>